$backgroundColor: #eeeeee;
$backgroundColorContent: #ffffff;

.app-content {
  margin: 0 auto;
  max-width: 885px;
  background-color: $backgroundColorContent;
}
body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $backgroundColor;
}
