$textColor: #999999;
.breadcrum-category {
  margin: 0 auto;
  max-width: 885px;
  padding-top: 14px;
  margin-bottom: 14px;
  color: $textColor;
  padding-left: 16px;
}
.breadcrum-category .category:after {
  content: ">";
  padding-right: 5px;
  padding-left: 5px;
}
.breadcrum-category .category:last-child:after {
  content: "";
}
.breadcrum-category .category {
  cursor: pointer;
}
